[submodule "calio"]
	path = calio
	url = https://github.com/apace100/calio.git
	branch = 1.20.x/dev
[submodule "apoli"]
	path = apoli
	url = https://github.com/apace100/apoli.git
	branch = 1.20.x/dev
